web/node_modules
web/package-lock.json

mobile/build
mobile/.flutter-plugins-dependencies
mobile/.flutter-plugins
mobile/pubspec.lock
mobile/.dart_tool
mobile/**/doc/api/
mobile/**/ios/Flutter/.last_build_id
mobile/android/app/debug
mobile/android/app/profile
mobile/android/app/release
mobile/app.*.symbols
mobile/app.*.map.json

service/dojo_service.env
service/http/vendor
service/http/composer.lock