.btn {
    font-weight: bold;
    cursor: pointer;

    font: inherit;
    display: inline-block;
    padding-top: var(--di-in-default);
    padding-bottom: var(--di-in-default);
    padding-left: calc(var(--di-in-default)*2);
    padding-right: calc(var(--di-in-default)*2);
    
    border: none; /* var(--br-default);*/
    border-radius: .8em;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: .2em .2em .4em var(--cl-br-hover);
}

.btn:hover:not([disabled]) {
    border-color: var(--cl-br-hover);
    box-shadow: .1em .1em .2em var(--cl-br-hover);;
}

.btn:active:not([disabled]) {
    border-color: var(--cl-br-active);
    box-shadow: none;
}

.btn > svg:first-child  {
    margin-right: var(--di-in-default);    
}

.btn.prm {
    background-color: var(--cl-bg-primary);
    color: var(--cl-tx-primary);
}

.btn.bad {
    background-color: var(--cl-bg-bad);
    color: var(--cl-tx-primary);
}

.btn.ugly {
    background-color: var(--cl-bg-ugly);
    color: var(--cl-tx-primary);
}

.btn.good {
    background-color: var(--cl-bg-good);
    color: var(--cl-tx-primary);
}
