.confirm {
    --radius: 20px;
    --shadow: drop-shadow(8px 8px 5px darkgray);
    --zindex: 999;
    --bg-good: darkgreen;
    --bg-bad: darkred;
    --bg-ugly: darkgoldenrod;
    --cl-good: lightgray;
    --cl-bad: lightgray;
    --cl-ugly: black;
    --bg: #fff;
}

.confirm.background {
    position: fixed;
    z-index: calc(var(--zindex)-1);
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
}

.confirm > .modal {
    position: fixed;
    z-index: var(--zindex);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: var(--bg);
    filter: var(--shadow);
    padding: 1em;
    border-radius: var(--radius);
    min-width: 15em;
    padding-bottom: .5em;
    border: solid 1px black;
}

.confirm > .modal > .header {
    font-weight: bolder;
}

.confirm > .modal > .footer {
    text-align: right;
}

.confirm > .modal > .footer > button {
    border-radius: 10px;
    font-size: smaller;
    border: solid 1px black;
    cursor: pointer;
    
}


.confirm > .modal > .footer > button.yes {
    background-color: var(--bg-good);
    color: var(--cl-good);
    margin-right: 1em;
}

.confirm > .modal > .footer > button.no {
    background-color: var(--bg-bad);
    color: var(--cl-bad);
}

.confirm > .modal > .footer > select {
    margin-right: 1em;
    max-width: 23em;
}
