html,body {
    margin: 0;
    padding: 0;
}

.dojo {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    height: 100vh;
    padding: 0;
}

.dojo a {
    color: darkblue;
    text-decoration: underline;
}

.dojo a:active {
    color: aqua;
    text-decoration: underline;
}

.dojo a:hover {
    color: dodgerblue;
    text-decoration: underline;
}
