html,
body {
    padding: 0;
    margin: 0;
}

:root {
    --fontsize: 16px;
    --framelen:500px;
}

.AlertError {
    z-index: 999;
    position: fixed;
    top: 5em;
    left: 50%;
    transform: translate(-50%, -50%);
    color: lightgoldenrodyellow;
    background-color: darkred;
    width: 10em;
    height: 4em;
    border-radius: .5em;
    border: solid black .2em;
    padding: .5em;
    box-shadow: 0 4px 9px black;
}

.main {
    width: 100%;
    font-size: var(--fontsize);
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-items: center;
    align-items: stretch;
    height: 100vh;
    background-color: white;
}

.main>.header {
    display: flex;
    height: 3em;
    flex-direction: row;
    justify-content: center;
    align-items: baseline;
}

.main>.body {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    height: 100%;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.main > .body > .form {
    flex-grow: 1;
    min-width: 300px;
    width: 600px;
    
    margin: 1em;
}

.main > .body > .text {
    flex-grow: 1;
    min-width: 300px;
    width: 100%;
    
    margin: 1em;
}

.main>.body>.form .column {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: start;  
    align-items: flex-start;
}

.main>.body>.form .separate {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;  
    align-items: baseline;
}

.main>.body>.form .item {
    padding: .3em;
    display: flex;
    flex-direction: column;    
    justify-content: center;
    align-items: center;
}

.main>.body>.form .item>button {
    width: 100%;
    font-size: var(--fontsize);
}

.main>.body>.form .item>span {
    display: block;
}


.labelinfo {
    font-size: smaller;
    color: darkgrey;
    display: block;
}

.main>.body .link {
    text-align: center;
    margin-top: 2em;
    font-size: small;
}

.main>.body .item input[type=text],
.main>.body .item input[type=password],
.main>.body .item input[type=date],
.main>.body .item select, textarea {
    box-sizing: border-box;
    width: 100%;
    font-size: var(--fontsize);
    width: 100%;
    padding: 8px 16px;

    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.main>.body .item textarea {
    height: 5em;
}

.main > .body > .text  fieldset {
    padding: 1em;
    margin-bottom: 1em;
}

.main > .body > .text  fieldset > legend {
    font-weight: bold;
}

.main a {
    color: darkblue;
    text-decoration: underline;
}

.main a > svg {
    height: 1em;
    fill: #3e8e41;
}

.main a:active {
    color: aqua;
    text-decoration: underline;
}

.main a:hover {
    color: dodgerblue;
    text-decoration: underline;
}

.button {
    display: inline-block;
    padding: 10px 20px;
    font-size: 22px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: darkgreen;
    border: none;
    border-radius: 15px;
    box-shadow: 0 2px 6px black;
}

.button:hover {
    background-color: #3e8e41
}

.button:active {
    background-color: #3e8e41;
    box-shadow: none;
    transform: translateY(4px);
}